.logo_bg {
  background: url('../img/logo-ntuh.svg#svgView(preserveAspectRatio(xMinYMid meet))') no-repeat left center;
}
footer .logo_bg {
  background: url('../img/logo-ntuh.svg#svgView(preserveAspectRatio(xMinYMin meet))') no-repeat left center;
}

#offcanvas * {color: white !important;}
#offcanvas .uk-offcanvas-bar {background: #506873 !important;}

#slideshow .uk-slideshow-items {min-height: auto !important;}

.gradient {background: linear-gradient(to bottom, #007ebd 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0) 80%, rgba(0,0,0,20) 100%);}

.editor table {
    border-width: 1px;
    border-color: black;
}
.editor ul {
    list-style: disc;
}
.editor ol {
    list-style: decimal;
}
.editor ul, .editor ol {
    padding-left: 30px;
}

.clouds{
	width:500%;
	height: 40%;
	background: transparent url("../img/clouds.png") right bottom;
  background-repeat: repeat-x;
	background-size: contain;
  position: absolute;
  right: 0%;
  top: -5%;

  -moz-animation:move-background 150s linear infinite;
  -ms-animation:move-background 150s linear infinite;
  -o-animation:move-background 150s linear infinite;
  -webkit-animation:move-background 150s linear infinite;
  animation:move-background 150s linear infinite;
}
@keyframes move-background {
  0% {
		transform: translate3d(0px, 0px, 0px);
		-webkit-transform: translate3d(0px, 0px, 0px);
    opacity:0;
	}
  3%  {
		transform: translate3d(3%, 0px, 0px);
		-webkit-transform: translate3d(3%, 0px, 0px);
    opacity:1;
  }
  97%  {
		transform: translate3d(97%, 0px, 0px);
		-webkit-transform: translate3d(97%, 0px, 0px);
    opacity:1;
  }
	100% { 
		transform: translate3d(100%, 0px, 0px);
		-webkit-transform: translate3d(100%, 0px, 0px);
    opacity:0;
	}
}
@-webkit-keyframes move-background {
  0% {
		transform: translate3d(0px, 0px, 0px);
		-webkit-transform: translate3d(0px, 0px, 0px);
    opacity:0;
	}
  3%  {
		transform: translate3d(3%, 0px, 0px);
		-webkit-transform: translate3d(3%, 0px, 0px);
    opacity:1;
  }
  97%  {
		transform: translate3d(97%, 0px, 0px);
		-webkit-transform: translate3d(97%, 0px, 0px);
    opacity:1;
  }
	100% { 
		transform: translate3d(100%, 0px, 0px);
		-webkit-transform: translate3d(100%, 0px, 0px);
    opacity:0;
	}
}

@-moz-keyframes move-background {
	0% {
		transform: translate3d(0px, 0px, 0px);
		-webkit-transform: translate3d(0px, 0px, 0px);
    opacity:0;
	}
  3%  {
		transform: translate3d(3%, 0px, 0px);
		-webkit-transform: translate3d(3%, 0px, 0px);
    opacity:1;
  }
  97%  {
		transform: translate3d(97%, 0px, 0px);
		-webkit-transform: translate3d(97%, 0px, 0px);
    opacity:1;
  }
	100% { 
		transform: translate3d(100%, 0px, 0px);
		-webkit-transform: translate3d(100%, 0px, 0px);
	}
}

@-webkit-keyframes move-background {
	0% {
		transform: translate3d(0px, 0px, 0px);
		-webkit-transform: translate3d(0px, 0px, 0px);
    opacity:0;
	}
  3%  {
		transform: translate3d(3%, 0px, 0px);
		-webkit-transform: translate3d(3%, 0px, 0px);
    opacity:1;
  }
  97%  {
		transform: translate3d(97%, 0px, 0px);
		-webkit-transform: translate3d(97%, 0px, 0px);
    opacity:1;
  }
	100% { 
		transform: translate3d(100%, 0px, 0px);
		-webkit-transform: translate3d(100%, 0px, 0px);
	}
}

@media (min-width: 960px) {
  .clouds{
    width:150%;
    height: 40%;
    top: -5%;
  }
}

/**** Just replace the right logo ratio '1.96' or the background-position and the background-size ****/
/* .logo_control .logo_text_control .logo_position .logo_bg, .logo_control .logo_text_control .logo_position-up .logo_bg {
  max-width: calc(40px*1.96);
}
@media (min-width: 1200px) {
  .logo_control .logo_text_control .logo_position .logo_bg, .logo_control .logo_text_control .logo_position-up .logo_bg {
    max-width: calc(50px*1.96);
  }
  .logo_control .logo_text_control .logo_position-up .logo_text .logo_bg {
    min-width: calc((50px + 15px) * 1.96);
    min-height: calc(50px + 15px);
    background-position-y: calc(50% - 2px);
    background-size: 100% calc(100% - 2px);
  }
}
@media (min-width: 1600px) {
  .logo_control .logo_text_control .logo_position-up .logo_text .logo_bg {
    max-width: calc((40px + 15px) * 1.96);
  }
} */

/*---------- IE10+ ------------------------------*/
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* .logo_control .logo_bg {
    background: url('../img/logo-ntuh.svg#svgView(preserveAspectRatio(xMinYMax))') no-repeat left center;
  } */
}